@import url('https://fonts.googleapis.com/css2?family=Gayathri&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}

.button-container{
  padding: 10px;
}

button{
  cursor: pointer;
  outline: none;
  border: none;
  width: 120px;
  height: 75px;
  font-family: 'Gayathri', sans-serif;
  font-size: 25px;
  border-radius: 15px;
  box-shadow: 0px 0px 7px 4px #888888;
  background: #a28089;
  transition: ease-in-out .25s;
}

button:hover{
  transform: scale(1.05);
  box-shadow: 0px 0px 20px 2px #888888;
}

button:active{
  transform: translatez(-0.3rem);
  box-shadow: 0px 0px 7px 4px #888888
}